{% extends "base.html" %}

{% block content %}
    <a class="backlink" href="/">Home</a>
    <a href="/post/new/">New Post</a>
    <h1>{{ post }}</h1>
        <p class="byline">
        Posted by {{ post.author.first_name }} {{ post.author.last_name }} &mdash; {{ post.published_date }}
        </p>
    <div class="post-body">
        {{ post.text }}
    </div>
    <ul class="categories">
        {% for category in post.categories.all %}
        <li>{{ category }}</li>
        {% endfor %}
    </ul>
{% endblock %}
